<div class="page" id="page">
	{{ organism 'header' }}
	<div role="main">

		{{#hero}}
			{{ molecule 'block-hero' }}
		{{/hero}}

		<div class="g g-3up">
			{{#touts}}
				<div class="gi">
					{{ molecule 'inset-block' }}
				</div>
			{{/touts}}
		</div><!--end 3up-->

		<hr />

		<div class="l-two-col">
			<div class="l-main">
				<section class="section latest-posts">
					<h2 class="section-title">Latest Posts</h2>
					<ul class="post-list">
						{{#latest-posts}}
							<li>{{ molecule 'media-block' }}</li>
						{{/latest-posts}}
					</ul>
					<a href="#" class="text-btn">View more posts</a>
				</section>
			</div>

			<div class="l-sidebar">
				{{ organism 'recent-tweets' }}
			</div><!--end l-sidebar-->
	</div><!--End role=main-->
	{{ organism 'footer' }}
</div>